@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --color-base-header: black;
    --color-base-header-text: white;

    --color-normal-text: black;
    --color-normal-background: white;

    --color-fundo-text: white;

    --color-fundo-imagem: rgb(71, 71, 71);

    --font-default: Verdana, Geneva, Tahoma, sans-serif; 
    --font-header: 'Passion One', cursive;
    --font-main: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: var(--color-base-header);
    color: var(--color-base-header-text);
    text-align: center;
}

header h1 {
    font-family: var(--font-header);
    font-weight:900;
    padding-top: 50px;
    /* Deixar tudo em maiusculo 
       text-transform: uppercase;
       */

    /* Deixa tambem em maiusculo porem com as letras um pouco menor que a primeira (mais indicado) */
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    font-family: var(--font-default);
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: var(--color-base-header-text);
    font-weight: bolder;
}

a:link {
    text-decoration: none;
    color: var(--color-base-header-text);
}

a:visited {
    text-decoration: none;
    color: var(--color-base-header-text);
}

a:hover {
    text-decoration: underline;
    color: var(--color-base-header-text);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

    font-family: var(--font-main);
    font-size: 3.5vw;
}

section.normal {
    color: var(--color-normal-text);
    background-color: var(--color-normal-background);
}

section.imagem {
    background-color: var(--color-fundo-imagem);
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment:fixed ;
    background-size: cover; 

    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.400);

    color: var(--color-fundo-text);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.400);
}

section#fundo1 {
    background-image: url("../imagens/background001.jpg");
}

section#fundo2 {
    background-image: url("../imagens/background002.jpg");

}

section p {
    padding-bottom: 2em;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.300);
    /*width: 40vw; funciona tambem*/
    display: inline-block;
    padding: 5px;
}


footer {
    background-color: var(--color-base-header);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font-default);
}
